@model AWWW_lab1_gr1_Kulesza.Models.EventType

<h1>Rodzaj wydarzenia</h1>

<div class="w3-card">
    <header class="w3-container w3-blue">
        <h1>@Model.Name</h1>
        @if (@Model.MatchEvents != null)
        {
            <p><a asp-controller="matchEvent" asp-action="index" asp-route-id="@Model.Id">Wydarzenie</a></p>
        }
    </header>
</div>


