@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model AWWW_lab1_gr1_Kulesza.Models.Student

<p>Nasi Studenci</p>

<ul>
    <li><a asp-controller="student" asp-action="index" asp-route-id="1">Uno Test</a></li>
    <li><a asp-controller="student" asp-action="index" asp-route-id="2">Dos Test</a></li>
    <li><a asp-controller="student" asp-action="index" asp-route-id="3">Tres Test</a></li>
</ul>


