@model AWWW_lab1_gr1_Kulesza.Models.League

<h1>Dodaj ligę</h1>

<form asp-route="Add" method="post" class="w3-container">
    <p>
        <label asp-for="Name">Nazwa:</label>
        <input asp-for="Name" class="w3-input w3-border"/>
    </p>
    <p>
        <label asp-for="Country">Kraj:</label>
        <input asp-for="Country" class="w3-input w3-border"/>
    </p>
    <p>
        <label asp-for="Level">Poziom:</label>
        <input asp-for="Level" class="w3-input w3-border" type="number"/>
    </p>
    <p>
        <button type="submit" class="w3-btn w3-border">Dodaj</button>
    </p>
</form>


